.track {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

.trackInformation {

  }
  
.trackAction {
    padding: 5px 10px;
    background-color: #1db954;
    color: white;
    border: none;
    cursor: pointer;
  }
  